.NavBar{
  position: fixed;
  padding:0px;
  float: left;
  height: 0vh;
  border-radius: 8px;
  background-color: black;
  text-align: left;
  border: solid white 1px;
  color: white;
  transition: all 0.5s;
  font-family: 'Courier New';
  z-index: 1;
}



.pagesList {
  display: block;
  margin: 0;
  padding: 0;
  background-color: black;
}


.menuButton {
  float:left;
  display: block;
  border-radius: 8px;
  background-color: #white;
  border: #white;
  color: black;
  font-size: 28px;
  padding: 0px;
  width: 30px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 0px;
}

.menuButton:after{
  content: '\2261';
}

.menuButton:hover{
  background-color: grey;
  color: #white;
}
