.navItem {
  display: block;
  color: white;
  text-align: right;
  padding: 0px;
  text-decoration: none;
  cursor: pointer;
}

.navItem:hover {
  background-image: linear-gradient(to right, #40a9f9 , #d33ff9);
}
